services:
  proxy:
    image: caddy:alpine
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - /opt/docker/caddy/config:/etc/caddy
      - /srv/docker/caddy:/data
    networks:
      - frontend
      - backend
networks:
  frontend:
    external: true
  backend:
    external: true
