services:
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - /srv/docker/grafana:/var/lib/grafana:Z
    networks:
      - backend
networks:
  backend:
    external: true
