services:
  portainer:
    image: portainer/portainer-ce:alpine
    container_name: portainer
    restart: unless-stopped
    ports:
      - "8000:8000"
      - "9443:9443"
    volumes:
      - /srv/docker/portainer:/data:Z
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - backend
networks:
  backend:
    external: true
